/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #83C1DB !important;
	background-repeat: no-repeat;
	background-size: cover;
}
a{
	color: #39CFFF !important;
}


a:visited{
	color: #39CFFF !important;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.button-header {
	float: right;
	margin-top: 30px;
	height: 50px;
	color: #45A5DA;
	background-color: white;
	border-width: 0;
}

.main {
	margin: 10px;
}


.logo {
	width: 300px;
}

.white {
	background-color: white;
	width: 100%;

}

.top-line {
	border-top: 2px solid lightgrey; 
}

.transparent {
	height: 27px;

}

.blue {
	background-color: #DAEEF6;
	height: 965px;
	padding: 5%;
}

.white-main {
	margin-top: 35px;
}

.button-join {
	width: 100%;
	margin-top: 10px;
	border: 2px solid black;
	color: #DAEEF6;
	background-color: #2D7496;
	padding-top: 5px;
	padding-bottom: 5px;
}

.phone-mention {
	font-size: 0.6em;
	text-align: center;
	margin-top: 10px;
}

.dropdown {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 0.8em;
	padding-right: 3%;
	padding-left: 3%;
}
.green-block {
	border: 2px solid #0DD324;
}

.tweet {
	width:100%;
	word-wrap: break-word;
	font-weight: normal;
}

.name {
	font-weight: bold;
	margin-top: 5px;
}
.pic {
	width:100%;
	word-wrap: break-word;
}

.pic-size {
	width:70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.timestamp {
	font-size: 0.7em;
	color: lightgrey;
	margin-bottom: 10px;
}

.timestamp a {
	color: lightgrey !important;
}

.separator {
	border-top: 1px solid grey; 
}





