/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.button-header {
	float: right;
	margin-top: 30px;
	height: 50px;
	color: #45A5DA;
	background-color: white;
	border-width: 0;
}

.main {
	margin: 10px;
}


.logo {
	width: 300px;
}

.white {
	background-image: url("white_background.png");
	width: 100%;
	height: 1000px;
}

.transparent {
	height: 27px;
}

.blue {
	background-color: lightblue;
	height: 965px;
}

.white-main {
	margin-top: 60px;
}

