<div class="navbar-fixed">
  <nav class="">
    <div class="nav-wrapper">
      <%=  link_to(image_tag('twitter-logo-outline.png', class: 'resize-logo brand-logo center'), root_path) %>
      <ul class="right hide-on-med-and-down">
        <%= render('layouts/navbar_content') %>
      </ul>
    </div>
  </nav>
</div>
