<!DOCTYPE html>
<html>
<head>
  <title>Public Timeline</title>
    <style>
      .left { float: left; }
      .right { float: right; }
      .clear { clear: both; }
      .tweet { width: 500px; }
      .small { font-size: .9em; }
      img { width: 48px; padding: 5px; }
      div.left { width: 400px;}
    </style>
</head>
<body>

<%= yield %>

</body>
</html>
