/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(21, 32, 43);
	scrollbar-color: rgb(107, 125, 140) rgb(25, 39, 52);
}
button {
	padding: 0.7em 0.9em;
	color: dodgerblue;
	border: 1px solid rgb(54, 49, 49);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(29, 161, 242);
}

.App {
	margin: 0 auto;
	max-width: 1200px;
}

.Twitter_Header {
	display: flex;
	justify-content: space-between;
}

.Tweet {
	.Tweet_Pic_Container {
		height: 50px;
		width: 50px;
	}

	& .Tweet_Body {
		& .Tweet_User_Name {
			color: rgb(29, 161, 242);
			text-decoration: none;
			font-weight: 500;
		}

		& .Tweet_Text {
			color: rgb(255, 255, 255);
		}
	}
}

.Twitter_Main {
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
}

.Twitter_Feed {
	max-width: 600px;
}

.Sidebar {
	width: 350px;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.OnlineCard {
	display: flex;

	& .Online_Card_Img {
		height: 30px;
		width: 30px;
	}

	& .Online_Card_Name {
		color: rgb(29, 161, 242);
		text-decoration: none;
	}
}
