<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>HEDGEYE demo app</title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">HEDGEYE demo app</h1>  <br>
      <h2>'cause I want to be a stock operator here!</h2>  
    </hgroup>  
  </header>  

   <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><a href="http://www.hedgeye.com">HEDGEYE</a></li>
        </ul>
      </nav>
  </div>
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <footer>  
    <p><small>An app by <a href="http://linkedin.com/in/fatahi">Reza Fatahi</a>.</small></p>  
  </footer>  
</body>  
</html>  