<div class="main">

	<%= image_tag("twitter_logo.png", :alt => "twitter logo", :class => "logo") %>
	<button type="button" class="button-header">Join Twitter!</button>
	<button type="button" class="button-header">Login</button>
	

		<div class="container">
  			<div class="row">
	   			<div class="col-9 white">
	      			<div class="white-main">
	      			<h1>Recent Public Tweets</h1>
	      			<h3>What everyone on Twitter is talking about!</h3>
	      			</div>
	    		</div>
	    		
	    		<div class="col-3">
	    		<div class="row transparent">
	    		</div>
	    		<div class="row blue">
	      		One of three columns
	    		</div>
	    		</div>
  			</div>
		</div>


</div>