<div class="container">
		<div class="row">
			<div class="col-12 white">
	  			<div class="white-main">
	  			<h1 class="top-line">Recent Public Tweets</h1>
	  			<h3>What everyone on Twitter is talking about!</h3>
	  		
	  				<% @tweets.each do |tweet| %>
	  		
	  				<%= tweet.text%>
	  				<% end %>
	  			</div>
			</div>
		</div>
</div>

