<% @results.each do |photo| %>
  <div class="photo">
    <img src="<%= photo["thumbnailUrl"] %>" class="thumbnail" />
    <div class="body">
      <div class="content">
        <div class="title">
           <%= photo["title"] %>
        </div>
        <a class="url" href="<%= photo["url"] %>">
           <%= photo["url"] %>
        </a>
      </div>
    </div>
  </div>
<% end %>
