<h2>Recent Public Tweets</h2>
<h3>What everyone on Twitter is talking about</h3>
<table>
    <tbody>
        <% tweets.each do |tweet| %>
            <tr>
                <td>
                    <img class="fit-picture" src="<%= tweet.user_profile_image %>" alt="Twitter User Profile Picture" >
                    <p>
                        <%= tweet.text %>
                    </p>
                    <p>
                    <%= tweet.publish_time %> from <%= tweet.source %>
                    </p>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
