<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Public Timeline</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script
        src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
        crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.2.7.nomodule.min.js" defer></script>
    <script src="/timeSince.js" defer></script>
    <script src="/main.js" defer></script>
    <script src="/app.js" defer></script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
