<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recent Public Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
</head>

<body class="flex flex-column items-center avenir">

    <main class="flex flex-column w-80 mw6 pb5">

        <header class="mb3 bb b--light-silver">
            <h1 class="f1 mb0">Recent Public Tweets</h1>
            <h2 class="f3 mt0">What everyone on Twitter is talking about!</h2>
        </header>

        <%= yield %>

    </main>

</body>
</html>
