<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body class="flex flex-column items-center">

    <main class="w-80 mw6 flex flex-column">

      <h1>Recent Public Tweets</h1>
      <h2>What everyone on Twitter is talking about!</h2>

      <%= yield %>

    </main>

  </body>
</html>
