<html>

<head>
    <title>Hedgeye Sentiment Analyzer</title>
    <link rel="stylesheet" href="hedgeye_twitter.css" />
</head>

<body>
    <h1>Recent Public Tweets</h1>
    <h2>Everyone on Twitter is talking about Hedgeye!</h2>
    <%= yield %>
</body>

</html>