<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Timeline JS</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="twitter.js"></script>
  </head>

  <body>
    <div style="text-align:center;margin-top:50px;padding:50px;font-family:'Helvetica'">
      <h2 style='margin:40px;'>Recent Public Tweets</h2>
      <h4>What everyone on Twitter is talking about</h4>

      <div id="render-tweets"></div>
    </div>
  </body>
</html>