<h1>Recent Public Tweets</h1>
<h2>What everyone on Twitter is talking about!</h2>

<div id="loading">
  <img src="/img/loading.gif"/>
</div>

<div id="tweets"></div>

<div class="tweet" id="template">
  <hr/>
  <div class="media">
    <div class="media-left">
      <a href="//example.com">
        <img class="media-object profile-image" src="//placehold.it/48" alt="user name">
      </a>
    </div>
    <div class="media-body">
      <a href="//example.com"><h4 class="media-heading">user name</h4></a>
      <p>tweet text</p>
      <small>at time via source</small>
    </div>
  </div>
</div>

<hr/>
<button id="more" class="btn btn-default btn-lg btn-block">Load More</button>

<script src="/js/via_js.js"></script>
