doctype html 
html 
  head
    script src="https://unpkg.com/axios/dist/axios.min.js"
    link rel="stylesheet" type="text/css" href='#{url("/stylesheet.css")}'
  body
    h1.title News 
    h2 What's going on
    #headlines 

javascript: 
  let headlines = document.getElementById('headlines');
  let api_key = "#{@api_key}"
  axios.get(`https://newsapi.org/v2/top-headlines?country=us&category=business&pageSize=20&apiKey=${api_key}`)
    .then(response => {
      response.data.articles.forEach(headline => {
        let articleContainer = document.createElement("div");
        let articleImageContainer = document.createElement("div");
        let articleImage = document.createElement("img");
        let articleTitle = document.createElement("div");
        let titleLink = document.createElement("a");
        let articleDescription = document.createElement("div");

        articleContainer.classList.add("article-container");
        articleImageContainer.classList.add("article-image-container");
        articleImage.classList.add("article-image");
        articleTitle.classList.add("article-title");
        articleDescription.classList.add("article-description");

        articleImage.src = headline.urlToImage;
        articleImage.alt = "image for article";
        articleImageContainer.append(articleImage);
        articleContainer.append(articleImageContainer);

        titleLink.href = headline.url;
        titleLink.target = "_blank";
        titleLink.textContent = headline.title;
        articleTitle.append(titleLink);
        articleContainer.append(articleTitle);
        
        articleDescription.textContent = headline.description;
        articleContainer.append(articleDescription);

        headlines.append(articleContainer);
      })
    })
    .catch(function (error) {
      console.log(error);
    })

    




