<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Async JS - Twitter Public Timeline</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
        <script type="text/javascript" src="/js/get-tweets.js"></script>
    </head>
    <body>
        <span id="error-message"></span>

        <h2>Recent Public Tweets</h2>
        <h3>What everyone on Twitter is talking about</h3>

        <table id="tweets-table">
            <tbody>
            </tbody>
    </body>
</html>
