<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recent Public Tweets</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/twitter.js" ></script>
  </head>
  <body>
    <h1>Recent Public Tweets</h1><br />
    <h2>What everyone on Twitter is talking about!</h2>
    <br />
    <blockquote class="twitter-tweet" id="twitter-tweet">
        <img src="/images/loading.gif" />
    </blockquote>
  </body>
</html>