<html>
	<head>
		<title>
			Recent Public Tweets
		</title>
	</head>
	<body>
		<h1>
			Recent Public Tweets
		</h1>
		<h2>
			What everyone on Twitter is talking about
		</h2>
		<div id="tweets">
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="dust-core-0.3.0.min.js"></script>
		<script src="twitter_timeline.js"></script>
	</body>
</html>