body {
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tweet {
    width: 600px;
    padding: 10px 0 10px 0;
    margin: 5px;
    border-top: 2px lightgray solid;
    display: flex;
    flex-direction: row;
}
img.avatar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.user {
    font-weight: bold;
}
.metadata {
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}
.source a {
    text-decoration: none;
    color: gray;
}