ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

img {
  float: left;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.user-info {
  display: inline-block;
  vertical-align: top;
}

.user-info a {
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

.user-info a:hover {
  text-decoration: underline;
}

.user-info .timestamp {
  display: block;
  color: #777;
  font-size: 0.8em;
}

p {
  margin: 5px 0;
}
