body {
    font-size: 20px;
    padding: 20px;
}
content {
    display: flex;
    align-items: center;
}
.tweet {
    display: flex;
    border-top: lightgrey solid 1px;
    width: 600px;
    padding: 10px 0 10px 0;
    margin: 5px;
}
.tweet a {
    color: dodgerblue;
    cursor: pointer;
}
img.thumbnail {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.tweet_info span {
    margin-top: 5px;
    font-size: 15px;
    color: grey;
}
