<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>timeline</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/handlebars-1.0.0.beta.6.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/pretty_date.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
